# Dependencias instaladas con npm
/node_modules

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Archivos de registro
logs
*.log

# Archivos de compilación
/dist
/build

# Variables de entorno
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Otras configuraciones
.idea
.vscode